input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.ecoai-changepassword-info-form-container::-webkit-scrollbar {
  display: none;
}

.ecoai-changepassword-bg-container {
  background-color: rgb(20, 20, 20);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
}

.ecoai-changepassword-info-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 45vh;
  border: 2px solid rgb(43, 42, 42);
  border-radius: 5px;
  overflow: hidden;
}

.ecoai-changepassword-info-container {
  background: none;
  position: relative;
  background-size: cover;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ecoai-changepassword-info-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("https://res.cloudinary.com/dnxaaxcjv/image/upload/v1765359754/podcasts_script_management-Photoroom_cb6u1v.png");
  background-size: cover;
  background-position: center -10px;
  opacity: 0.5;
  z-index: 0;
}

.ecoai-changepassword-info-container > * {
  position: relative;
  z-index: 1;
}

.ecoai-changepassword-info-swipe-container {
  display: none;
}

.ecoai-changepassword-logo {
  width: 150px;
  margin-top: -40px;
}

.ecoai-changepassword-info-matter-container {
  text-align: center;
  width: 90%;
  padding: 25px;
}

.ecoai-changepassword-info-matter1 {
  font-weight: bold;
  font-size: 28px;
  color: #bdbbbb;
}

.ecoai-changepassword-info-matter2 {
  font-size: 15px;
  color: rgb(139, 137, 137);
}

.ecoai-changepassword-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  padding: 20px;
  padding-top: 5px;
  backdrop-filter: blur(2px);
}

.ecoai-changepassword-heading {
  font-size: 28px;
  color: #bdbbbb;
  margin-bottom: 30px;
}

.ecoai-changepassword-container {
  position: relative;
  width: 80%;
  border-bottom: 2px solid rgb(139, 137, 137);
}

.ecoai-changepassword-inp {
  width: 90%;
  padding-top: 18px;
  font-size: 14px;
  outline: none;
  background: transparent;
  border: none;
  color: rgb(139, 137, 137);
  padding-bottom: 3px;
}

.ecoai-changepassword-label {
  position: absolute;
  top: 12px;
  left: 0;
  color: rgb(139, 137, 137);
  font-size: 14px;
  transition: 0.2s ease all;
  pointer-events: none;
  letter-spacing: 1px;
}

.ecoai-changepassword-inp:focus + .ecoai-changepassword-label,
.ecoai-changepassword-inp:not(:placeholder-shown)
  + .ecoai-changepassword-label {
  top: -4px;
  left: 0px;
  font-size: 11px;
  color: rgb(212, 208, 208);
}

.ecoai-changepassword-code-resend-btn-container {
  width: 80%;
  padding-left: 15px;
  margin-bottom: 25px;
  margin-top: -10px;
  display: flex;
  justify-content: flex-end;
}

.ecoai-changepassword-code-resend-btn {
  font-size: 12px;
  color: #4f99bc;
  letter-spacing: 1px;
  background-color: transparent;
  font-family: "Roboto";
  border: none;
  outline: none;
  padding-top: 10px;
  cursor: pointer;
}

.ecoai-changepassword-error-msg-container {
  height: 35px;
  position: relative;
  width: 80%;
}

.ecoai-changepassword-codesent-error-msg-container {
  height: 10px;
  position: relative;
  width: 80%;
}

.ecoai-changepassword-error-msg {
  color: orange;
  font-size: 12px;
  width: 100%;
  position: absolute;
  top: 5px;
}

.ecoai-changepassword-button {
  width: 80%;
  background-color: #bdbbbb;
  color: rgb(26, 26, 26);
  padding: 12px;
  border: none;
  border-radius: 3px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  cursor: pointer;
}

.ecoai-changepassword-password-container {
  position: relative;
  width: 80%;
  border-bottom: 2px solid rgb(139, 137, 137);
  margin-bottom: 23px;
}

.ecoai-changepassword-password-inp {
  width: 90%;
  padding-top: 18px;
  font-size: 14px;
  outline: none;
  background: transparent;
  border: none;
  color: rgb(139, 137, 137);
  padding-bottom: 3px;
}

.ecoai-changepassword-password-label {
  position: absolute;
  top: 12px;
  left: 0;
  color: rgb(139, 137, 137);
  font-size: 14px;
  transition: 0.2s ease all;
  pointer-events: none;
  letter-spacing: 1px;
}

.ecoai-changepassword-password-inp:focus + .ecoai-changepassword-password-label,
.ecoai-changepassword-password-inp:not(:placeholder-shown)
  + .ecoai-changepassword-password-label {
  top: -4px;
  left: 0px;
  font-size: 11px;
  color: rgb(212, 208, 208);
}

.ecoai-changepassword-confirm-password-container {
  position: relative;
  width: 80%;
  border-bottom: 2px solid rgb(139, 137, 137);
  margin-bottom: 5px;
  display: flex;
}

.ecoai-changepassword-confirm-password-inp {
  width: 90%;
  padding-top: 18px;
  font-size: 14px;
  outline: none;
  background: transparent;
  border: none;
  color: rgb(139, 137, 137);
  padding-bottom: 3px;
}

.ecoai-changepassword-confirm-password-label {
  position: absolute;
  top: 12px;
  left: 0;
  color: rgb(139, 137, 137);
  font-size: 14px;
  transition: 0.2s ease all;
  pointer-events: none;
  letter-spacing: 1px;
}

.ecoai-changepassword-confirm-password-inp:focus
  + .ecoai-changepassword-confirm-password-label,
.ecoai-changepassword-confirm-password-inp:not(:placeholder-shown)
  + .ecoai-changepassword-confirm-password-label {
  top: -4px;
  left: 0px;
  font-size: 11px;
  color: rgb(212, 208, 208);
}

.ecoai-changepassword-show-or-hide-button {
  border: none;
  background-color: transparent;
  color: #4f99bc;
  font-family: "Roboto";
  font-size: 12px;
  cursor: pointer;
  transition: all 0.1s ease;
  margin-right: 5px;
  position: relative;
  top: 8px;
}
.ecoai-changepassword-show-or-hide-button:active {
  font-size: 11px;
  top: 8px;
}

.ecoai-changepassword-text-and-go-to-login-page-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 50px;
}

.ecoai-changepassword-icon-container {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ecoai-changepassword-success-icon {
  color: rgb(23, 114, 23);
  font-size: 35px;
  margin-bottom: 10px;
  animation: popping 0.3s ease-in-out infinite alternate-reverse;
}

@keyframes popping {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.ecoai-changepassword-text {
  color: rgb(23, 114, 23);
  text-align: center;
  margin-top: 0;
}

.ecoai-changepassword-go-to-login-page-buttonn {
  background: transparent;
  border: 1px solid #bdbbbb;
  border-radius: 5px;
  padding: 3px 7px;
  color: #bdbbbb;
  align-self: flex-end;
  font-family: "Roboto";
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.ecoai-changepassword-remember-password-text {
  font-size: 14px;
  letter-spacing: 1px;
  color: rgb(139, 137, 137);
}

.ecoai-changepassword-login-text {
  cursor: pointer;
}

.ecoai-changepassword-login-text:hover {
  text-decoration: underline;
  color: #4f99bc;
}

.fade-out {
  opacity: 0;
  transform: scale(0.95);
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.4s ease;
}

@media (min-width: 1001px) and (max-width: 1500px) {
  .ecoai-changepassword-logo {
    width: 110px;
  }

  .ecoai-changepassword-info-matter-container {
    padding: 15px;
  }

  .ecoai-changepassword-info-matter1 {
    font-size: 18px;
  }

  .ecoai-changepassword-info-matter2 {
    font-size: 11px;
  }

  .ecoai-changepassword-form-container {
    padding: 15px;
  }

  .ecoai-changepassword-heading {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .ecoai-changepassword-container {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(139, 137, 137);
  }

  .ecoai-changepassword-inp {
    padding-top: 16px;
    font-size: 12px;
    padding-bottom: 2px;
  }

  .ecoai-changepassword-label {
    top: 16px;
    font-size: 11px;
  }

  .ecoai-changepassword-inp:focus + .ecoai-changepassword-label,
  .ecoai-changepassword-inp:not(:placeholder-shown)
    + .ecoai-changepassword-label {
    top: 2px;
    font-size: 9px;
  }

  .ecoai-changepassword-code-resend-btn-container {
    margin-bottom: 15px;
    margin-top: -10px;
  }

  .ecoai-changepassword-code-resend-btn {
    font-size: 10px;
    color: #4f99bc;
    padding-top: 4px;
  }

  .ecoai-changepassword-error-msg-container {
    height: 20px;
  }

  .ecoai-changepassword-codesent-error-msg-container {
    height: 0px;
  }

  .ecoai-changepassword-error-msg {
    font-size: 9px;
    top: -9px;
  }

  .ecoai-changepassword-button {
    padding: 9px;
    font-size: 12px;
    margin-bottom: 2px;
  }

  .ecoai-changepassword-password-container {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(139, 137, 137);
  }

  .ecoai-changepassword-password-inp {
    padding-top: 16px;
    font-size: 12px;
    padding-bottom: 2px;
  }

  .ecoai-changepassword-password-label {
    top: 16px;
    font-size: 11px;
  }

  .ecoai-changepassword-password-inp:focus
    + .ecoai-changepassword-password-label,
  .ecoai-changepassword-password-inp:not(:placeholder-shown)
    + .ecoai-changepassword-password-label {
    top: 2px;
    font-size: 9px;
  }

  .ecoai-changepassword-confirm-password-container {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(139, 137, 137);
  }

  .ecoai-changepassword-confirm-password-inp {
    padding-top: 16px;
    font-size: 12px;
    padding-bottom: 2px;
  }

  .ecoai-changepassword-confirm-password-label {
    top: 16px;
    font-size: 11px;
  }

  .ecoai-changepassword-confirm-password-inp:focus
    + .ecoai-changepassword-confirm-password-label,
  .ecoai-changepassword-confirm-password-inp:not(:placeholder-shown)
    + .ecoai-changepassword-confirm-password-label {
    top: 2px;
    font-size: 9px;
  }

  .ecoai-changepassword-show-or-hide-button {
    font-size: 10px;
    margin-right: 0;
  }
  .ecoai-changepassword-show-or-hide-button:active {
    font-size: 9px;
    top: 8px;
  }

  .ecoai-changepassword-icon-container {
    height: 25px;
  }

  .ecoai-changepassword-success-icon {
    font-size: 25px;
  }

  .ecoai-changepassword-text {
    font-size: 11px;
  }

  .ecoai-changepassword-go-to-login-page-button {
    border-radius: 5px;
    font-size: 11px;
  }

  .ecoai-changepassword-remember-password-text {
    font-size: 10px;
  }
}

@media (min-width: 501px) and (max-width: 1000px) {
  .ecoai-changepassword-info-form-container {
    width: 70vw;
    height: 45vh;
    max-width: 500px;
  }

  .ecoai-changepassword-logo {
    width: 110px;
  }

  .ecoai-changepassword-info-matter-container {
    padding: 15px;
  }

  .ecoai-changepassword-info-matter1 {
    font-size: 18px;
  }

  .ecoai-changepassword-info-matter2 {
    font-size: 11px;
  }

  .ecoai-changepassword-form-container {
    padding: 15px;
  }

  .ecoai-changepassword-heading {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .ecoai-changepassword-container {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(139, 137, 137);
  }

  .ecoai-changepassword-inp {
    padding-top: 16px;
    font-size: 12px;
    padding-bottom: 2px;
  }

  .ecoai-changepassword-label {
    top: 16px;
    font-size: 11px;
  }

  .ecoai-changepassword-inp:focus + .ecoai-changepassword-label,
  .ecoai-changepassword-inp:not(:placeholder-shown)
    + .ecoai-changepassword-label {
    top: 2px;
    font-size: 9px;
  }

  .ecoai-changepassword-code-resend-btn-container {
    margin-bottom: 15px;
    margin-top: -10px;
  }

  .ecoai-changepassword-code-resend-btn {
    font-size: 10px;
    color: #4f99bc;
    padding-top: 4px;
  }

  .ecoai-changepassword-error-msg-container {
    height: 20px;
  }

  .ecoai-changepassword-codesent-error-msg-container {
    height: 0px;
  }

  .ecoai-changepassword-error-msg {
    font-size: 9px;
    top: -9px;
  }

  .ecoai-changepassword-button {
    padding: 9px;
    font-size: 12px;
    margin-bottom: 2px;
  }

  .ecoai-changepassword-password-container {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(139, 137, 137);
  }

  .ecoai-changepassword-password-inp {
    padding-top: 16px;
    font-size: 12px;
    padding-bottom: 2px;
  }

  .ecoai-changepassword-password-label {
    top: 16px;
    font-size: 11px;
  }

  .ecoai-changepassword-password-inp:focus
    + .ecoai-changepassword-password-label,
  .ecoai-changepassword-password-inp:not(:placeholder-shown)
    + .ecoai-changepassword-password-label {
    top: 2px;
    font-size: 9px;
  }

  .ecoai-changepassword-confirm-password-container {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(139, 137, 137);
  }

  .ecoai-changepassword-confirm-password-inp {
    padding-top: 16px;
    font-size: 12px;
    padding-bottom: 2px;
  }

  .ecoai-changepassword-confirm-password-label {
    top: 16px;
    font-size: 11px;
  }

  .ecoai-changepassword-confirm-password-inp:focus
    + .ecoai-changepassword-confirm-password-label,
  .ecoai-changepassword-confirm-password-inp:not(:placeholder-shown)
    + .ecoai-changepassword-confirm-password-label {
    top: 2px;
    font-size: 9px;
  }

  .ecoai-changepassword-show-or-hide-button {
    font-size: 10px;
    margin-right: 0;
  }
  .ecoai-changepassword-show-or-hide-button:active {
    font-size: 9px;
    top: 8px;
  }

  .ecoai-changepassword-icon-container {
    height: 25px;
  }

  .ecoai-changepassword-success-icon {
    font-size: 25px;
  }

  .ecoai-changepassword-text {
    font-size: 11px;
  }

  .ecoai-changepassword-go-to-login-page-button {
    border-radius: 5px;
    font-size: 11px;
  }

  .ecoai-changepassword-remember-password-text {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  .ecoai-changepassword-info-form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    min-width: 280px;
    height: 350px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
  }

  .ecoai-changepassword-info-container {
    height: 350px;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    scroll-snap-align: start;
    position: relative;
  }

  .ecoai-changepassword-info-container::before {
    background-position: center -20px;
  }

  .ecoai-changepassword-info-swipe-container {
    display: block;
    position: absolute;
    bottom: 8px;
    right: 8px;
    color: #bdbbbb;
    font-size: 20px;
    animation: rotate 2s infinite;
  }

  @keyframes rotate {
    0% {
      opacity: 0;
      transform: rotate(-90deg);
    }
    50% {
      opacity: 0.6;
      transform: rotate(0deg);
    }
    100% {
      opacity: 0;
      transform: rotate(0deg);
    }
  }

  .ecoai-changepassword-logo {
    width: 100px;
    display: block;
    margin-top: -35px;
  }

  .ecoai-changepassword-info-matter-container {
    padding: 10px;
    padding-bottom: 20px;
  }

  .ecoai-changepassword-info-matter1 {
    font-size: 20px;
  }

  .ecoai-changepassword-info-matter2 {
    font-size: 13px;
  }

  .ecoai-changepassword-form-container {
    height: 350px;
    width: 100%;
    flex-shrink: 0;
    padding: 0;
    scroll-snap-align: start;
  }

  .ecoai-changepassword-form-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://res.cloudinary.com/dnxaaxcjv/image/upload/v1765359754/podcasts_script_management-Photoroom_cb6u1v.png");
    background-size: cover;
    background-position: center -50px;
    opacity: 0.07;
    z-index: 0;
  }

  .ecoai-changepassword-form-container > * {
    position: relative;
    z-index: 1;
  }

  .ecoai-changepassword-heading {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .ecoai-changepassword-container {
    margin-bottom: 3px;
    border-bottom: 1px solid rgb(139, 137, 137);
  }

  .ecoai-changepassword-inp {
    padding-top: 16px;
    font-size: 14px;
    padding-bottom: 2px;
  }

  .ecoai-changepassword-label {
    top: 14px;
    font-size: 14px;
  }

  .ecoai-changepassword-inp:focus + .ecoai-changepassword-label,
  .ecoai-changepassword-inp:not(:placeholder-shown)
    + .ecoai-changepassword-label {
    top: 0px;
    font-size: 11px;
  }

  .ecoai-changepassword-code-resend-btn-container {
    margin-top: -10px;
  }

  .ecoai-changepassword-code-resend-btn {
    font-size: 11px;
    padding-top: 5px;
  }

  .ecoai-changepassword-button {
    padding: 10px;
    font-size: 13px;
    margin-bottom: 2px;
  }

  .ecoai-changepassword-password-container {
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(139, 137, 137);
  }

  .ecoai-changepassword-password-inp {
    padding-top: 16px;
    font-size: 14px;
    padding-bottom: 2px;
  }

  .ecoai-changepassword-password-label {
    top: 14px;
    font-size: 14px;
  }

  .ecoai-changepassword-password-inp:focus
    + .ecoai-changepassword-password-label,
  .ecoai-changepassword-password-inp:not(:placeholder-shown)
    + .ecoai-changepassword-password-label {
    top: 0px;
    font-size: 11px;
  }

  .ecoai-changepassword-confirm-password-container {
    margin-bottom: 0px;
    border-bottom: 1px solid rgb(139, 137, 137);
  }

  .ecoai-changepassword-confirm-password-inp {
    padding-top: 16px;
    font-size: 14px;
    padding-bottom: 2px;
  }

  .ecoai-changepassword-confirm-password-label {
    top: 14px;
    font-size: 14px;
  }

  .ecoai-changepassword-confirm-password-inp:focus
    + .ecoai-changepassword-confirm-password-label,
  .ecoai-changepassword-confirm-password-inp:not(:placeholder-shown)
    + .ecoai-changepassword-confirm-password-label {
    top: 0px;
    font-size: 11px;
  }

  .ecoai-changepassword-show-or-hide-button {
    font-size: 12px;
  }
  .ecoai-changepassword-show-or-hide-button:active {
    font-size: 11px;
    top: 7px;
  }

  .ecoai-changepassword-text-and-go-to-login-page-btn-container {
    margin-top: 15px;
  }

  .ecoai-changepassword-icon-container {
    height: 30px;
  }

  .ecoai-changepassword-success-icon {
    font-size: 30px;
  }

  .ecoai-changepassword-text {
    font-size: 12px;
  }

  .ecoai-changepassword-remember-password-text {
    font-size: 12px;
  }
}
